.superwrap {
	clear: both;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.superwrap .wrap-primary,
.superwrap .wrap-secondary {
	display: block;
	float: none;
	width: 100%;
	padding: 0;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

@media screen and (min-width: 783px) {
	.superwrap .wrap-primary,
	.superwrap .wrap-secondary {
		float: left;
	}

	.superwrap .wrap-primary {
		width: 65%;
		padding: 0 15px 0 0;
	}

	.superwrap .wrap-secondary {
		width: 35%;
		padding: 0 0 0 15px;
	}
}

.results-table {
	clear: both;
	margin: 0;
	width: 100%;
	border-spacing: 0;
	table-layout: fixed;
	border-collapse: collapse;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
}

.results-table tbody > :nth-child(odd) {
	background-color: #f9f9f9;
}

.results-table th,
.results-table td {
	padding: 8px 10px;
}

.results-table .amount-cell {
	text-align: right;
}

.results-table thead tr {
	border-bottom: 1px solid #e5e5e5;
}

.results-table tfoot tr {
	border-top: 1px solid #e5e5e5;
}
